= link_to root_path do
  .nx-logo
.nx-header-middle
  .nx-headline
    :javascript
      var switchTo5x=true;
    %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    :javascript
      stLight.options({publisher:''});
    .joomla_sharethis
      %p Follow Us On:
      %span.st_linkedin{:st_processed => "yes"}
        %span.stButton{:style => "text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"}
          %span.chicklets.linkedin &nbsp;
      %span.st_facebook{:st_processed => "yes"}
        %span.stButton{:style => "text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"}
          %span.chicklets.facebook &nbsp;
      %span.st_twitter{:st_processed => "yes"}
        %span.stButton{:style => "text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; padding-left: 0px; padding-right: 0px; width: 16px;"}
          %span.chicklets.twitter &nbsp;
      .njpmhokqil{style: "position:absolute;left:-1914px;"}
        %a{:href => "http://www.onlycarfinance.co.uk/"} car finance
  .nx-search
    %form{:action => "/", :method => "get"}
      .search
        %input#product_suggest.ac_input{:autocomplete => "off", "data-max-item" => "5", "data-min-chars" => "3", "data-scroll" => "false", "data-scroll-height" => "400", :name => "keyword", :placeholder => "Search BakeryMart", :type => "text"}/
        %input#sub-search{:onclick => "this.form.keyword.focus();", :type => "submit", :value => "Search"}/
.nx-user-top
  .nx-user-menu
    %ul.menu
      - if user_signed_in?
        %li.item-132
          = "Hi"
          %b 
            = "#{current_user.first_name}" + " " + "#{current_user.last_name}" + "!"
        %li.item-133
          = link_to "logout", destroy_user_session_path, method: :delete
        %li.item-134
          = link_to t('account_setting'), edit_user_registration_path
      - else
        %li.item-132
          = link_to t('login'), new_user_session_path
        %li.item-133
          = link_to t('register'), new_user_registration_path
      %li.item-135
        %ul.dropdown-menu
          %li.active.menu-item
            %a.menu-item-link
              = "Languages"
          %li.menu-item
            %a.menu-item-link
              = link_to_unless I18n.locale == :vn, t('vietnam'), "?lang=vn"
          %li.menu-item
            %a.menu-item-link
              = link_to_unless I18n.locale == :en, t('english'), "?lang=en"
  .nx-cart
    .cart
      %a{:name => "cart"}
      #vmCartModule.vmCartModule
        .minicart
          .total_products
            0&nbsp;items&nbsp;        Total:
            %span 00.00
            %br/
            %p Bakery Shopping
            %p
          .show-cart
        %div{:style => "clear:both"}
        #hiddencontainer{:style => "display:none"}
          .container
            .wrapper.marg-bot
              / Image line
              .image
              .fleft
                .product_row
                  %span.product_name
                  .clear
                  %span.quantity
                  .prices{:style => "display:inline;"}
                  %a.vmicon.vmicon.vm2-remove_from_cart{:onclick => "remove_product_cart(this);"}
                    %span.product_cart_id{:style => "display:none;"}
                .product_attributes
            .wrapper2
              .none
              .xxx
        #cart_list.show_products
          #vm_cart_products.vm_cart_products
            .container
              .wrapper2
                .xxx
                  You cart is empty
          .total
          .show_cart
        %div{:style => "display:none"}
          .total_products
        %input#extra_cart{:type => "hidden", :value => "1"}/
