#main-content
  = render 'admin/top', :page_title => t("admin.manage_product_category"), href: new_admin_category_path
  .content-box
    .content-box-header
      %table.timkiem
        %tbody
          %tr
            %td{:valign => "top"} Tìm kiếm
            %td
              %input{:type => "text"}
            %td
              %a{href: new_admin_category_path }
                %input.button{:type => "button", :value => "Thêm mới"}/
      %ul.content-box-tabs
        %li
          %a.default-tab{:href => "#tab1"} Danh sách tin
        %li
          %a{:href => "#tab2"}
      .clear
    .content-box-content
      #tab1.tab-content.default-tab
        %table
          %thead
            %tr
              %th{:width => "7%", :style => "text-align: center"} STT
              %th Tên danh mục
              %th Cập nhật
              %th{:width => "12%"} Xử lý
              %th Hiển thị
              %th{:width => "3%"} ID
          %tfoot
            %tr
              %td{:colspan => "8"}
          - i = 1
          - @categories.each do |t|
            %tbody
              %tr
                %td{:style => "text-align: center"}
                  = "#{i}"
                %td 
                  = t.name
                %td
                  = t.update_at
                %td
                  = link_to edit_admin_category_path(t.id) do
                    = image_tag "/assets/pencil.png"
                  = link_to admin_delete_category_path(t.id) do
                    = image_tag "/assets/cross.png"
                %td
                  = check_box_tag :published, t.id, t.published?, class: 'user-approve-cb'
                %td{:align => "right"}
                  = t.id
            - i = i + 1
          :javascript
            $('.user-approve-cb:checkbox').change(function() {
              return $.ajax({
                url: '/admin' + '/categories/' + this.value + '/set_published',
                type: 'PUT',
                data: { published: $(this).is(":checked") },
                headers: {
                'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
                },
                success: function() {
                return ;
                }
              });
            });