#main-content
  = render 'admin/top', :page_title => t("admin.manage_product_category"), href: new_admin_product_path
  .content-box
    .content-box-header
      %h3 Chi tiet san pham
      .clear
    .content-box-content
      #tab1.tab-content.default-tab
        %table.input
          %tbody
            %tr
              %td{:width => "410", rowspan: "8"}
                = image_tag @product.image.url, width: "400px", style: "border: 1px solid #001100"
              %td.label{:width => "120", :style => "text-align: left;"} Tên tieng Anh:
              %td
                = @product.try(:title)
              %tr
                %td.label{:style => "text-align: left;"} Tên tieng Viet:
                %td
                  = @product.try(:title_vn)
              %tr
                %td.label{:style => "text-align: left;"} Danh mục:
                %td
                  = Category.where(id: @product.category_id).first.name
              %tr
                %td.label{:style => "text-align: left;"} Price:
                %td.medium-input
                  = @product.try(:price)
              %tr
                %td.label{:style => "text-align: left;"} Percent Sale:
                %td.medium-input
                  = @product.try(:percent_sale)
              %tr
                %td.label{:style => "text-align: left;"} Description:
                %td.medium-input
                  = @product.try(:description)
              %tr
                %td.label{:style => "text-align: left;"} Xuất bản:
                %td
                  = @product.try(:publish)
              %tr
                %td
                %td
              %tr
                %td{colspan: "3", style: "text-align: center"}
                  - @photos.each do |p|
                    = image_tag p.photo.url, width: "700px"
    #khung{:style => "border: none;"}
      #main
        #toolbar.toolbar-list
          %ul
            %li#toolbar-new
              %a.toolbar{:href => edit_admin_product_path(@product)}
                %span.icon-32-save
                Edit
                
            %li#toolbar-unpublish
              %a.toolbar{:href => admin_products_path}
                %span.icon-32-cancel
                Back
          .clr
        .clr   
