#main-content
  = render 'admin/top', :page_title => t("admin.manage_product_category"), href: new_admin_product_path
  .content-box
    .content-box-header
      %h3 Chi tiet san pham
      .clear
    .content-box-content
      #tab1.tab-content.default-tab
        %table.input
          %tbody
            %tr
              %td.label{:width => "120"} Tên sản phẩm:
              %td
                %label{:for => "idtitle"}
                #idtitle.text-input.medium-input
                  = @product.try(:title)
              %tr{:style => ""}
                %td.label{:width => "120"} Tên sản phẩm (Tieng Viet):
                %td
                  %label{:for => "idtitle"}
                  #idtitle.text-input.medium-input
                    = @product.try(:title_vn)
              %tr
                %td.label Thuộc danh mục:
                %td
                  = Category.where(id: @product.category_id).first.name
              %tr
                %td.label Avatar:
                %td.medium-input
                  = image_tag @product.image.url(:admin)
              %tr
                %td.label Price:
                %td.medium-input
                  = @product.try(:price)
              %tr
                %td.label Percent Sale:
                %td.medium-input
                  = @product.try(:percent_sale)
              %tr
                %td.label Description:
                %td.medium-input
                  = @product.try(:description)
              %tr
                %td.label Xuất bản:
                %td
                  = @product.try(:publish)
    #khung{:style => "border: none;"}
      #main
        #toolbar.toolbar-list
          %ul
            %li#toolbar-new
              %a.toolbar{:href => edit_admin_product_path(@product)}
                %span.icon-32-save
                Edit
                
            %li#toolbar-unpublish
              %a.toolbar{:href => admin_products_path}
                %span.icon-32-cancel
                Back
          .clr
        .clr   
