!!!
%html
  %head
    %title Romantic
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body
    #body-wrapper
      = render 'admin/sidebar'
      = yield